* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(#FECAB2, #F5B4BC, #FA938B, #FF6E56);
  font-family: 'Futura', sans-serif;
  margin: 0px;
  padding: 20px;
  color: #FC3D3D;
  font-size: 16px;
}

.header {
  width: 100%;
  height: 100px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.logo {
  max-height: 100px;
  float: left;
  margin-left: 30px;
  padding:20px 0;
}


/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.container {
  display: inline-block;
  cursor: pointer;
  float: right;
  padding: 40px;
  margin-right: 30px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FC3D3D;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  align: center;
}

/*

   HOME (Splash)

 */
 .bg {
     /* Set rules to fill background */
     min-height: 100%;
     min-width: 1024px;

     /* Set up proportionate scaling */
     width: 100%;
     height: auto;

     /* Set up positioning */
     position: fixed;
     top: 0;
     left: 0;
   }

 @media screen and (max-width: 1024px) { /* Specific to this particular image */
     img.bg {
       left: 50%;
       margin-left: -512px;   /* 50% */
     }
   }

 .image-container {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
 }




/*

   ABOUT

 */
 .bio-container {
   position: absolute;
   min-width: 50%;
   min-height: 50%;
 }

 .about-copy {
   position: fixed;
   top: 440px;
   right: 450px;
   bottom: 0px;
   left: 470px;
 }

.about-copy2 {
  position: fixed;
  top: 560px;
  right: 450px;
  bottom: 20px;
  left: 100px;
}



 /*

   RELEASES (Disc)

 */



 /*

   NOISE (Media)

 */




 /*

   SHOP (Merch)

 */





 /*

   SHOWS (Tour)

 */
