* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(#FECAB2, #F5B4BC, #FA938B, #FF6E56);
  overflow:hidden;
  font-family: 'Futura', sans-serif;
  margin: 0px;
  padding: 0px;
  color: #FC3D3D;
  font-size: 15px;
}

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;
}

.logo{
  display: inline-block;
  float: left;
  height: 100px;
  width: 325px;
  top: 10px;
  padding: 20px 5px;
}

nav{
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  height: 100px;
  top: 30px;
  right: 45px;
  z-index: 10;
  background-color: white;
}

nav > a {
  width: 100%;
  height: 100px;
  float: right;
  padding: 5px 10px;
  color: #FC3D3D;
}

.mobile-menu-icon {
  width: 36px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 30px;
  padding: 15px 10px;
  z-index: 10;
}

.mobile-menu-icon > div {
  width: 100%;
  height: 1px;
  background: #FC3D3D;
}

.mobile-menu-icon:hover {
  cursor: pointer;
  background-color: white;
}

@media (min-width: 732px) {
  nav{
    height: 45px;
    font-size: 0;
    display: flex !important;
    justify-content: flex-end;
    background-color: transparent;
  }
  nav > a {
    width: auto;
    height: 100%;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    transition: all .25s ease-in-out;
  }
  .mobile-menu-icon {
    display: none;
  }
}

nav > a:hover, nav > a.active{
  background-color: white;
}

/* The navbar container */

.container {
  display: inline-block;
  cursor: pointer;
  float: right;
  padding: 20px;
  margin-right: 80px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  align: center;
}

#link_bar a:link { color:#FC3D3D; text-decoration: none;}
#link_bar a:visited { color:#ffffff; text-decoration: none;}
#link_bar a:hover { color:#ffffff;text-decoration: none;}
#link_bar a:active { color:#ffffff; text-decoration: none;}

/*

   HOME (Splash)

 */

 .fullwidth-video {
   min-width: 100%;
   min-height: 100%;
 }

/*

   ABOUT

 */
 .bio-container {
   position: absolute;
   top: 0px;
   right: 10px;
   left: 10px;
   min-width: 50%
   min-width: 50%
   padding-bottom: 20%; /* = width for a 1:1 aspect ratio */
   margin:1%;
 }

 .bio-img {
   opacity: 0.75;
  filter: alpha (opacity=75);
 }

 .about-copy-container {
   position: fixed;
  top: 450px;
  right: 510px;
  left: 415px;
  bottom: 30px;
  padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
  margin:1%;
 }

.about-copy2-container {
  position: fixed;
  top:  564px;
  right: 510px;
  left: 86px;
  bottom: 0px;
  padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
  margin:1%;
}

.text{
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: left;
}

.igrid-container {
  display: inline-grid;
  float: right;
  position: relative;
  top: 80px;
  left: -90px;
  bottom: 0px;
  right: 0px;
  grid-gap: 1px 1px;
  grid-template-columns: auto auto auto;
  padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  overflow:hidden;
}

.igcontent {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

.iglist {
  float: right;
  position: relative;
  top: 420px;
  left: 240px;
  bottom: 0px;
  right: -20px;
  padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
}

.line{
  position: absolute;
  height: 8px;
  width: 12%;
  margin: auto;
  top: 117px;
  left: 673px;
  bottom: 0px;
  right: 0px;
  color: #FC3D3D;
  background-color: #FC3D3D;
  border: none;
   }

   #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    #myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 600px;
    }

    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 600px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 100px;
    }

    /* Add Animation */
    .modal-content, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 100px;
      right: 435px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }

 /*

   RELEASES (Disc)

 */

 .grid-container {
   display: inline-grid;
   vertical-align: center;
   justify-content: center;
   text-align: center;
   position: fixed;
   top: 85px;
   margin-left: 17%;
   min-width: 50%
   min-height: 50%;
   grid-gap: 15px 10px;
   grid-template-columns: auto auto auto auto;
 }


 .grid-item {
  font-size: 16px;
  font-color: white;
  position: relative;
  background-color: transparent;
  padding: -10px;
  text-align: left;
}



 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
   background-color: transparent;
   width: 225px;
   height: 225px;
   border: none;
   perspective: 1000px; /* Remove this if you don't want the 3D effect */
 }

 /* This container is needed to position the front and back side */
 .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }

 /* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }

 /* Position the front and back side */
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
 }

 /* Style the front side (fallback if image is missing) */
 .flip-card-front {
   background-color: #bbb;
   color: black;
 }

 /* Style the back side */
 .flip-card-back {
   background-color: transparent;
   color: transparent;
   transform: rotateY(180deg);
 }



 /*

   NOISE (Media)

 */
 .noise-container {
   display: inline-grid;
   position: relative;
   top: 100px;
   left: 80px;
   bottom: 0px;
   right: 0px;
   grid-gap: 10px 10px;
   grid-template-columns: auto auto auto;
 }

.gallery-container {
  display: inline-grid;
  position: relative;
  top: 150px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  grid-gap: 0px 0px;
  grid-template-columns: auto auto auto auto auto auto;
}


 /*

   SHOP (Merch)

 */

 .zoom {
   padding: 0px;
   transition: transform .2s; /* Animation */
   width: 250px;
   height: 180px;
   margin: 0 auto;
 }

 .zoom:hover {
   transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }


 .filtercontainer {
   display: inline-grid;
   vertical-align: center;
   justify-content: center;
   text-align: center;
   position: fixed;
   grid-gap: 0px 0px;
   top: 85px;
   margin-left: 17%;
   min-width: 50%
   min-height: 50%;
   grid-template-columns: auto auto auto auto auto;
 }

.filterimg {
  width 100%;
  height: auto;
  display: block;
}

 .filterDiv {
   float: center;
   width: 180px;
   line-height: 2px;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 2px;
   display: none; /* Hidden by default */
 }

 /* The "show" class is added to the filtered elements */
 .show {
   display: block;
 }

 /* Style the buttons */
 .btn {
   display: block;
   position: relative;
   border: none;
   outline: none;
   font-family: 'Futura', sans-serif;
   font-size: 16px;
   color: white;
   top: 300px;
   left: 1250px;
   bottom:
   padding: 20px 20px;
   background-color: transparent;
   cursor: pointer;
 }

 /* Add a light grey background on mouse-over */
 .btn:hover {
   background-color: none;
   color: #FC3D3D;
 }

 /* Add a dark background to the active button */
 .btn.active {
   background-color: none;
   color: #FC3D3D;
 }



 /*

   SHOWS (Tour)

 */

 .tourcontainer {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   position: absolute;
   width: 100%;
 }

 .tourcopy {

 }

 .tourimg{
   width: 1200px;
   height: 800px;
 }

 .flex-vertical-center {
       align-items: center;
   }
